body {
	padding-top: 70px;
}
.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
}

.footer {
	border-top: 4px solid #8ec150;
	background-color: #212a34;
	color: white;
	text-align: center;
	height: 200px;
	line-height: 70px;
}

/*------------Views----------------*/
.authentication-view {
	padding: 50px 0px;
}



/*------------Directives-----------*/
/*-------authentication--------*/
.authentication-widget {
	background-color: #f8f8f8;
	width: 350px;
	margin: 0px auto;
	padding: 15px;
	border-radius: 10px;
	border: 2px solid #eaeaea;
}